.para {
    font-size:54px; 
    font-weight: 600;
}

* {
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

.chisom {
  display: flex;
  background: lightgray 50% / cover no-repeat, rgba(255, 255, 255, 0.5);
  width: 1440px;
  height: 750px;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 150px;
  background-color: lightgray;
}

h3 {
  color: #000;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: 500px;
  margin-bottom: 20px;
}

h4 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

.mobile{
    margin-top: 20px;
}

.full-name {
  border: none;
  padding: 3px 3px;
  background: rgba(11, 21, 60, 0.15);
  width: 20rem;
  height: 40px;
  border-radius: 9px;
  gap: 10px;
}

.phone-number {
  display: flex;
  border-radius: 9px;
  gap: 10px;
  padding: 3px 3px;
  width: 20rem;
  height: 40px;
  background: rgba(11, 21, 60, 0.15);
}

.number {
  border: none;
  border-left: 1px solid black;
  background: transparent;
  padding: 3px 3px;
}

.content1 {
  max-width: 400px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 20px;
}

.content3 {
  color: #17c2ec;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.container-two {
  display: flex;
  gap: 20px;
}

.p {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
}

.one {
  padding: 10px 45px;
  gap: 20px;
}

.two {
  padding: 10px 150px;
  gap: 20px;
  margin-top: 20px;
}

.one,
.two {
  border-radius: 20px;
  background: #17c2ec;
  color: white;
  gap: 10px;
  border: none;
}

.image-div {
  width: 376.686px;
  height: 480px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #0b153c;
  top: 50px;
  position: relative;
}

.covid {
  position: absolute;
  width: 98.436px;
  height: 95px;
  flex-shrink: 0;
  top: -2rem;
  right: 19rem;
  left: -1rem;
  bottom: 10rem;
}
.three {
  position: absolute;
  bottom: 10px;
  top: 400px;
  right: 50px;
  left: 70px;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  background: rgba(196, 196, 196, 0.25);
}

@media screen and (max-width: 768px) {
  .chisom {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 375px) {
  .chisom {
    flex-direction: column-reverse;
  }
}
